<!DOCTYPE html>

<html>
    <head>
        <title></title>
    </head>
    <body>
        <main>
            <header>
                <ul>
                    <li><a href="{% url 'create_category' %}">Create Expense Category</a></li>
                </ul>
            </header>
            <h1>Expense Categories</h1>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of Receipts</th>
                    </tr>
                </thead>
                <tbody>
                    {% for category in expensecategory %}
                    <tr>
                        <td>{{ category.name }}</td>
                        <td>{{ category.receipts.all|length }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>
    </body>
</html>
